@use "../../../../colors.scss";

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border-radius: 0.5rem;
    background-color: colors.$grey-0;

    .dialog-header,
    .dialog-footer {
      background-color: colors.$white-0;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: none;
        border-radius: 0.25rem;
        color: colors.$primary-600;
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        &:hover {
          color: colors.$grey-0;
          background-color: colors.$primary-600;
        }
      }
    }

    .dialog-header {
      padding: 0 1rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }

    .dialog-footer {
      padding: 1rem;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    .dialog-content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
