<app-card>
  <section>
    <strong> {{ photographer.name }} </strong>

    <div>
      <p class="text-grey-600">Equipments</p>
      <p>{{ photographer.camera }} | {{ photographer.lens }}</p>
    </div>
  </section>

  <section>
    <app-button
      label="Edit"
      appearance="outline"
      (click)="editPhotographer.emit(photographer.id)"
    ></app-button>
    <app-button
      label="Delete"
      appearance="danger"
      (click)="deletePhotographer.emit(photographer.id)"
    ></app-button>
  </section>
</app-card>
