@use '../../../../colors.scss';

.form-field-container {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    letter-spacing: -0.025rem;

    span[danger] {
      color: colors.$red-600;
    }
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: colors.$grey-700;

    &:focus {
      border: 1px solid colors.$primary-600;
    }

    &[danger] {
      border: 1px solid colors.$red-600;
    }
  }
}
